.header {
  padding: 30px;

  &_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#dark .header_title {
  color: #fff;
}

.switch {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .header_title {
    font-size: 25px;
  }
  .header_container {
    flex-direction: column;
  }
}
.btn-container {
  position: absolute;
  right: 10px;
}
.btn_translation-en,
.btn_translation-uk {
  padding: 2px;
  border: none;
  background-color: transparent;
}
.img_translation-en,
.img_translation-uk {
  width: 20px;
  height: 20px;
}
